// functions
times(a, b)
  a * b
// variables could add '$' at front as a variable
$base-font = 14px;

// variable style part
$trans-secondary = rgba(22, 36, 92, .6);
$transition = all ease .5s;

// constant
.mt-2
  margin-top times($base-font, 2)

// app global css
.height-fit
  height: 100%

.font-title
  font-size: times($base-font, 2.3) !important
  transition: all 0.3s ease
  &:hover
    text-decoration: underline

.font-subtitle
  font-size: times($base-font, 1.3) !important
  color: rgba(0,0,0,0.4)

.article-title
  font-size: times($base-font, 5.5) !important
  font-weight: 600

.article-subtitle
  font-size: times($base-font, 1.2) !important
  margin-top: times($base-font, 1.2) !important
  font-weight: 400
  font-style: italic
.article-content
  font-size: times($base-font, 1.8) !important
  &:first-letter
    font-size: times($base-font, 3.5) !important
    font-weight: 600
.login-title
  font-size: times($base-font, 3.5) !important
  line-height: times($base-font, 3.0)
  font-weight: 600
.login-padding
  padding: 4rem 7rem;
  margin: auto;

// constant style
ul,ol {
  list-style: none
  margin: 0
  padding: 0
}
pre
  font-family inherit
  word-break: break-word;
  white-space: pre-wrap;

.page-commen
  margin auto
  max-width: 1100px
  min-width 1000px
.separator
  border-top 1px solid #16245C
  margin 10px 0
.spec-font
  font-family: stag,simplec
.mt-20
  margin-top: 20px
.mt-10
  margin-top: 10px
.font-28
  font-size: 28px
.font-24
  font-size: 24px
.font-20
  font-size: 20px
.font-18
  font-size: 18px
.font-12
  font-size: 12px
// more color
.max-1200
  max-width 1200px
.self-center
  margin auto
// temp style for test
.test-border
  border 1px solid red