// functions
times(a, b)
  a * b
// variables could add '$' at front as a variable
$base-font = 14px;

// app global css
.height-fit
  height: 100%

// body
//   --q-signal: '1';

.font-title
  font-size: times($base-font, 1.5) !important
  transition: all 0.3s ease
  &:hover
    text-decoration: underline

.font-subtitle
  font-size: times($base-font, 1.3) !important
  color: rgba(0,0,0,0.4)